$color-dark-1: #0a0a0a;
$color-dark-2: #121212;
$color-dark-3: rgb(20,20,20);
$color-dark-4: rgb(30,30,30);
$color-dark-5: rgb(40,40,40);
$color-blue-1: rgb(2, 76, 187);
$gradient-1a: #4b6cb7;
$gradient-1b: #182848;
$gradient-2a: #f5af19;
$gradient-2b: #f12711;
$gradient-3a: #C04848;
$gradient-3b: #480048;
$gradient-4a: #71B280;
$gradient-4b: #134E5E;
$color-gray-light-1: #eaeaec;
$color-gray-light-2: #DCDCDC;
$color-gray: #525252;
$color-gray-1: #212226;
$color-gray-2: #151618;
$color-silver: #C0C0C0;

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: $color-gray-light-1;
}

//NAVBAR
._navbar {
    position: sticky;
    top: 0;
    background-color: $color-dark-1;
    padding: 10px;
    text-align: center;
    z-index: 100;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    div, form {
        display: inline;
    }

    div {
        padding: 10px;
    }

    .nav-logo a {
        color: white;
        text-decoration: none;
        padding-left: 10px;

        h5 {
            display: inline;
        }
    }

    .nav-search {
        input {
            background-color: $color-dark-2;
            border: none;
            padding: 10px 25px;
            border-radius: 500px;
            color: white;

            &:focus {
                border: none;
                outline: none;
            }
        }

        i {
            color: white;
            padding: 14px;
            background-color: black;
            border-radius: 50%;
            margin-left: -45px;
            cursor: pointer;
        }
    }

    .nav-dropdowns {
        color: white;
        cursor: pointer;

        i {
            border-radius: 50%;
            background-color: black;
            margin-right: 10px;
            padding: 14px;
        }
    }

    .vertical-line {
        height: 100%;
        width: 10px;
        padding: .5px;
        background-color: white;
        margin: 0 10px;
    }

    .account {
        position: relative;
        cursor: pointer;

        .nav-pic {
            width: 40px;
        }

        h6 {
            display: inline;
            padding: 0 10px;
            color: white;
        }

        a {
            color: rgb(187, 187, 187);
        }

        transition: .3s all;

        &:hover .hover-links {
            display: inline;
        }
    }

    .hover-links {
        display: none;
        position: absolute;
        width: 100%;
        background-color: $color-dark-1;
        color: white;
        left: 0;
        top: 35px;
        text-align: left;

        a {
            display: block;
            padding: 10px;
        }
    }
}

//SIDEBAR

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: black;
    color: white;
    overflow: auto;

    header {
        position: relative;

        h3 {
            text-align: center;
            padding: 20px 0;
        }

        .admin-pic {
            width: 70px;
            margin: 0 auto;
        }

        p {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            span {
                color: rgb(172, 172, 172);
                display: block;
            }
        }
    }

    .sidebar-list {
        display: block;
        padding-top: 15px;
        font-size: 18px;
        transition: 3s all;

        .link {
            padding: 15px 0 15px 20px;
            display: block;
            border-right: 5px solid transparent;

            .sub-links {
                margin-left: 10px;
                display: none;
            }

            &:hover .sub-links {
                display: block;
            }
        }

        a {
            display: block;
            padding: 15px;
            border-left: 5px solid transparent;

            &:hover {
                text-decoration: none;
                border-left: 5px solid white;
                background-color: #121212;
                color: rgb(187, 187, 187);
            }

            i {
                margin-right: 10px;
            }
        }
    }

    a {
        text-decoration: none;
        color: white;
    }
}

//CONTENT
.content {
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    padding: 20px;
    padding-bottom: 40px;
}

._shadow {
    box-shadow: 0 3px 12px rgba(black, .4);
    border-radius: 5px;
    margin-top: 25px;
    padding: 20px;
    background: white;
}

.section-setup {
    margin-top: -15px;

    .links {
        font-size: 18px;
        padding-top: 15px;

        ul {
            list-style: none;
            background-color: $color-gray-light-2;
            border-radius: 5px;
            border: 1px solid $color-silver;

            li {
                a {
                    color: $color-gray;
                    padding: 15px;
                    display: block;
                    border-bottom: 1px solid $color-silver;
                    transition: all .3s;

                    &:hover {
                        text-decoration: none;
                        background-color: $color-silver;
                    }
                }
            }
        }
    }
}

.customer-personal-info, .worker-info, .user-info, .customer-measurement {
    padding: 20px 0 30px 0;
}

._form {
    label {
        font-weight: bold;
        margin-top: 10px;
    }

    input {
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid black;

        &:focus {
            outline: none;
            border: 1px solid $color-blue-1;
        }

        .row {
            margin-top: 20px;
        }
    }

    .checkbox {
        width: 0;
    }
}


.multiline {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;

    &:focus {
        border-color: $color-blue-1;
        outline: none;
    }
}

.measurement--btns {
    text-align: right;
    margin-bottom: 15px;

    a {
        margin: 5px 0 10px 5px;
        color: white;
        padding: 7px 15px;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    #measurement--btns-add {
        background: $color-blue-1;
        transition: all .3s;

        &:hover {
            background-color: darken($color-blue-1, 5);
        }
    }

    #measurement--btns-remove {
        background-color: darkred;
        transition: all .3s;

        &:hover {
            background-color: darken(darkred, 5);
        }
    }
}

.listBox {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;

    &:focus {
        border-color: $color-blue-1;
        outline: none;
    }

    option {
        padding: 8px 20px;
    }
}


._popup {
    //display: none;
    position: fixed;
    height: 100vh;
    background: rgba(black, .8);
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    overflow: auto;

    ._popup-close_btn {
        i {
            font-size: 25px;
            cursor: pointer;
        }

        text-align: right;
    }

    ._popup-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 90%;
        padding: 40px;
        border-radius: 5px;

        .measurement-list {
            width: 100%;
        }
    }
}

.measurement-data {
    h5 {
        margin-bottom: 10px;
    }

    select {
        font-size: 20px;
    }

    td {
        padding: 5px;
    }

    input[type=text] {
        border: 1px solid black;
        width: 100%;
        padding: 10px;
        border-radius: 5px;

        &:focus {
            border-color: $color-blue-1;
            outline: none;
        }
    }

    ._btn-measurement_add {
        padding: 10px 20px;
        background-color: green;
        border: none;
        color: white;
        border-radius: 5px;
        float: right;
        margin-top: 15px;
    }

    option {
    }
}

._btn-fixed--add {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 22px;
    font-size: 25px;
    border-radius: 50%;
    background-color: green;
    border: none;
    color: white;
    transition: all .3s;

    &:hover {
        background-color: darken(green, 5);
        box-shadow: 0 5px 10px rgba(black,.3);
    }

    &:focus {
        outline: none;
    }
}
